.mosquito {
    width: 3rem;
    height: 3rem;
}
.mosquito {
    width: 2.5rem;
    height: 2.5rem;
}
.mosquito {
    width: 5rem;
    height: 5rem;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}